# Playwright Configuration
HEADLESS=false
TIMEOUT=30000
NAVIGATION_TIMEOUT=30000
MAX_RETRIES=3
RETRY_DELAY=2

# logger configuration
LOG_LEVEL="INFO"
LOG_FILE="logs/scraper.log"

# export configuration(json or csv)
EXPORT_FORMAT="csv"
OUTPUT_DIR="output"

#delay configuration
REQUEST_DELAY=1
PAGE_LOAD_DELAY=2

